## Auto ARIMA 

Automates the ARIMA Model selection.

Benefits:

- Saves time 
- Removes ambiguity 
- Reduces the risk of human error

In [11]:
import numpy as np
import pandas as pd
import scipy
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from statsmodels.tsa.arima_model import ARIMA
# from pmdarima.arima import auto_arima
from arch import arch_model
import seaborn as sns
import yfinance
import warnings
warnings.filterwarnings("ignore")
sns.set()

In [12]:
raw_data = yfinance.download(tickers="^GSPC ^FTSE ^N225 ^GDAXI", start="1994-01-07", end="2018-01-29",
                             interval="1d", group_by='ticker', auto_adjust=True, treads=True)

[*********************100%***********************]  4 of 4 completed

In [13]:
raw_data.head()

                  ^FTSE                                                \
                   Open         High          Low        Close Volume
Date
1994-01-07  3401.399902  3446.800049  3398.699951  3446.000000    0.0
1994-01-10  3465.699951  3468.100098  3430.000000  3440.600098    0.0
1994-01-11  3442.500000  3442.500000  3413.500000  3413.800049    0.0
1994-01-12  3394.800049  3402.399902  3372.000000  3372.000000    0.0
1994-01-13  3380.699951  3383.300049  3356.899902  3360.000000    0.0

                   ^N225                                                   \
                    Open          High           Low         Close Volume
Date
1994-01-07  17842.980469  18131.410156  17787.480469  18124.009766    0.0
1994-01-10  18186.519531  18567.060547  18186.519531  18443.439453    0.0
1994-01-11  18481.849609  18671.669922  18373.039062  18485.250000    0.0
1994-01-12  18447.339844  18807.080078  18301.929688  18793.880859    0.0
1994-01-13  18770.380859  18823.380859  18548.750000  18577.259766    0.0

                 ^GSPC                                                   \
                  Open        High         Low       Close       Volume
Date
1994-01-07  467.089996  470.260010  467.029999  469.899994  324920000.0
1994-01-10  469.899994  475.269989  469.549988  475.269989  319490000.0
1994-01-11  475.269989  475.279999  473.269989  474.130005  305490000.0
1994-01-12  474.130005  475.059998  472.140015  474.170013  310690000.0
1994-01-13  474.170013  474.170013  471.799988  472.470001  277970000.0

                 ^GDAXI
                   Open         High          Low        Close Volume
Date
1994-01-07  2218.959961  2227.639893  2201.820068  2224.949951    0.0
1994-01-10  2231.840088  2238.010010  2222.000000  2225.000000    0.0
1994-01-11  2225.429932  2235.610107  2225.179932  2228.100098    0.0
1994-01-12  2227.120117  2227.790039  2182.060059  2182.060059    0.0
1994-01-13  2171.500000  2183.709961  2134.100098  2142.370117    0.0

In [14]:
df = raw_data.copy()

In [15]:
df['spx'] = df['^GSPC'].Close[:]
df['dax'] = df['^GDAXI'].Close[:]
df['ftse'] = df['^FTSE'].Close[:]
df['nikkei'] = df['^N225'].Close[:]

Creating returns

In [16]:
df['ret_spx'] = df.spx.pct_change(1)*100
df['ret_ftse'] = df.ftse.pct_change(1)*100
df['ret_dax'] = df.dax.pct_change(1)*100
df['ret_nikkei'] = df.nikkei.pct_change(1)*100

Splitting the data

In [17]:
size = int(len(df)*0.8)
df, df_test = df.iloc[:size], df.iloc[size:]
df.shape, df_test.shape

((5008, 28), (1252, 28))

#### Fitting the Model