In [1]:
import pandas as pd 
import numpy as np

### Load the data

In [6]:
raw_csv_data = pd.read_csv("./../datasets/Index2018.csv")

In [7]:
df =  raw_csv_data.copy()

### Examine the data

We usually use date as index for time series data. The rest of the four variables are market indexes - S&P 500 (spx) - USA, DAX 30 (dax) - GER, FTSE 100 (ftse) - UK, NIKKEI 225 (nikkei) - Japan.

In [8]:
df.head()

         date     spx      dax     ftse    nikkei
0  07/01/1994  469.90  2224.95  3445.98  18124.01
1  10/01/1994  475.27  2225.00  3440.58  18443.44
2  11/01/1994  474.13  2228.10  3413.77  18485.25
3  12/01/1994  474.17  2182.06  3372.02  18793.88
4  13/01/1994  472.47  2142.37  3360.01  18577.26